@font-face {
  font-family: 'OpenSans-Bold';
  font-size: normal;
  font-weight: bold;
  src: local('OpenSanse-Bold'),
  url(../fonts/OpenSans-Bold.woff2) format(woff2),
  url(../fonts/OpenSans-Bold.woff) format(woff),
  url(../fonts/OpenSans-Bold.ttf) format(ttf);
  font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-size: normal;
    font-weight: normal;
    src: local('OpenSans-Regular'),
    url(../fonts/OpenSans-Regular.woff2) format(woff2),
    url(../fonts/OpenSans-Regular.woff) format(woff),
    url(../fonts/OpenSans-Regular.ttf) format(ttf);
    font-display: swap;
}


:root {
    --color-white: #ffff;
    --color-darck: #000000;
    --color-light-gray: #f4f7f6;
    --color-brown: #b59f5b;
    --color-light-brown: #e1d9bd;
    --color-gray: #c0c0c0;

    --border: 4px solid var(--color-brown);

    --font-family-base: 'OpenSans-Regular', 'sans-serif';
    --font-family-accent: 'OpenSans-Bold', 'sans-serif'

    --transition-duration: 0.2s;

}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1200px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background:
            linear-gradient(rgba(7, 7, 7, 0.144), rgba(0, 0, 0, 0.8)),
            url(../images/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.header-menu-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.header-logo {
    margin-left: 12%;
}

.header-menu {
    margin-right: 12%;
}

.header-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25em;
    height: 50px;
    list-style-type: none;
}

.style-link-menu {
    font-family: var(--font-family-base);
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: var(--color-white);
}

.box-header-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.header-text {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 3.21rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.trend  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 425px;
    margin-top: 50px;
}

.trend-text-head {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.trend-text-head::after {
    content: '';
    display: flex;
    border-top: solid;
    height: 4px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-brown);
    margin-top: 15px;

}

.trends {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 319px;
    margin-top: 30px;
}

.trend-section-1 {
    display: flex;
    flex-direction: column-reverse;
    width: 24.5%;
    height: 319px;
    background:
            linear-gradient(rgba(7, 7, 7, 0.144), rgba(0, 0, 0, 0.8)),
            url(../images/trend1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.trend-section-2 {
    display: flex;
    flex-direction: column-reverse;
    width: 24.5%;
    height: 319px;
    background:
        linear-gradient(rgba(7, 7, 7, 0.144), rgba(0, 0, 0, 0.8)),
        url(../images/trend2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.trend-section-3 {
    display: flex;
    flex-direction: column-reverse;
    width: 24.5%;
    height: 319px;
    background:
        linear-gradient(rgba(7, 7, 7, 0.144), rgba(0, 0, 0, 0.8)),
        url(../images/trend3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.trend-section-4 {
    display: flex;
    flex-direction: column-reverse;
    width: 24.5%;
    height: 319px;
    background:
        linear-gradient(rgba(7, 7, 7, 0.144), rgba(0, 0, 0, 0.8)),
        url(../images/trend4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.trend-border {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 4px solid var(--color-brown);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.trend-link-conteiner {
    display: flex;
    flex-direction: row;
    width: 42%;
    margin-top: 36px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.trend-link {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-brown);
    margin-left: 1em;
}

.trend-text {
    display: flex;
    flex-wrap: wrap;
    width: 88%;
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-white);
    margin-left: 1.6em;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-left: 11%;
    margin-right: 3.5%;
}

.post-conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
    
}

.post-text-conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.post-link-conteiner {
    display: flex;
        flex-direction: row;
        width: 140px;
        margin-left: 25px;
}

.post-text-header {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-top: 15px;
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.data-author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    margin-top: 17px;
    margin-left: 35px;
}

.data {
    font-family: var(--font-family-base);
    font-size: 12px;
    color: var(--color-gray);
}

.author {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 12px;
}

.post-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 35px;
    margin-top: 40px;
    font-family: var(--font-family-base);
    font-size: 15px;
}

p {
    margin-top: 0px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 17%;
    margin-right: 11%;
    margin-left: 3.5;
}

.new-posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.post-text-head {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.post-text-head::after {
    content: '';
    display: flex;
    border-top: solid;
    height: 4px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-brown);
    margin-top: 15px;
}

.new-post {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 71px;
    margin-top: 30px;
}

.data-post {
    display: flex;
    width: 180px;
    height: 12px;
    margin-left: 20px;
}

.new-post-text {
    width: 180px;
    font-family: var(--font-family-base);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 10px;
}

.search  {
    display: flex;
    margin-top: 60px;
    width: 100%;
    height: 50px;
}

.form-search {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-text {
    width: 100%;
    height: 50px;
    border: none;
    background: var(--color-light-gray);
    font-family: var(--font-family-base);
    font-size: 13px;
    outline: none;
}

.button-search {
    width: 50px;
    height: 50px;
    border: none;
    background: var(--color-brown);
    cursor: pointer;   
}

.mailing {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.form-email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    margin-top: 23px;
}

.input-email {
    width: 100%;
    height: 50px;
    border: none;
    background: var(--color-light-gray);
    font-family: var(--font-family-base);
    font-size: 13px;
    outline: none;
}

.button-search-email {
    width: 100%;
    height: 50px;
    border: none;
    background: var(--color-brown);
    cursor: pointer;
}

.tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
}

.tag-dicoration {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    border: 4px solid var(--color-gray);
    padding: 9px 14px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.topics {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.topic-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.topic-conteiner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--color-gray);
}
.topic-text {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: var(--color-darck);
    padding-top: 18px;
}

.topic-number {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 12px;
    color: var(--color-brown);
    text-decoration: none;
    padding-top: 15px;
    margin-left: 5px;
}

.shop {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 64px;
}

.goods {
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.goods-conteiner {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-repeat: no-repeat;
    background-position: top;
}

.goods-border {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 282px;
    border: 4px solid var(--color-brown);
    margin-top: 175px;
}

.goods-name {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 55px;
    margin-left: 20px;
}

.goods-text {
    font-size: 15px;
    font-family: var(--font-family-base);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.goods-price {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 5px;
}

.price {
    display: flex;
    flex-direction: column;
    width: 70px;
    margin-left: 20px;
}

.price-before {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 14px;
    text-decoration: line-through;
}

.price-actual {
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: 20px;
}

.background-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 50px;
    background-color: var(--color-brown);
    margin-right: 20px;
}

.price-buttom {
    font-family: var(--font-family-base);
    font-size: 14px;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--color-brown);
}

.footer {
    display: flex;
    width: 78%;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    background-color: var(--color-light-gray);
}

.social {
    display: flex;
    justify-content: space-between;
    width: 215px;
    height: 30px;
    margin: 25px auto 35px auto;
}

.logo {
    width: 30px;
    height: 30px;
}




















